$color-red: rgb(255, 27, 73);
$color-red-back: rgba(255, 27, 73, 0.2);
$color-blue: rgb(0, 159, 233);
$color-blue-back: rgba(0, 159, 233, 0.2);
$color-green: rgb(177, 209, 42);
$color-green-back: rgba(178, 209, 42, 0.2);
$color-purple: rgb(141, 98, 255);

.home-flex-top {
    display: flex;
    justify-content: center;
}

.home-flex-middle {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    .MuiPaper-root {
        margin: 8px; 
        background: rgb(255, 255, 255); 
        padding: 12px; 
        width: 300px;
        margin-bottom: 20px;

        .paragraph {
           
        }

        .paragraph--first {
            margin: 10px;
        }
    
        .paragraph--green {
            color: $color-green;
            font-size: 24px;
            margin: 0;
        }
    
        .paragraph--blue {
            color: $color-blue;
            font-size: 24px;
            margin: 0;
        }
    
        .paragraph--red {
            color: $color-red;
            font-size: 24px;
            margin: 0;
        }
    
        .paragraph--purple {
            color: $color-purple;
            font-size: 24px;
            margin: 0;
        }
    }

    .MuiPaper-root--green {
        border-left: 2px solid $color-green;
    }

    .MuiPaper-root--blue {
        border-left: 2px solid $color-blue;
    }

    .MuiPaper-root--red {
        border-left: 2px solid $color-red;
    }

    .MuiPaper-root--purple {
        border-left: 2px solid $color-purple;
    }
}

.actions-to-change {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .actions-temperature {
        display: flex;
        width: 200px;
    
        .MuiButtonBase-root.MuiFab-root {
            background: #fff;
            color: $color-green;
        }

        .tooltip-disable {
            color: #e0e0e0 !important;
        }

        .status-option {
            font-family: 'Lato, sans-serif';
            font-size: 'large';
        }

        .status-option--on {
            color: #b1d12a;
        }

        .status-option--off {
            color: #808080;
        }
    }
    
    
    .actions-temperature-options {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        button{
            background-color: #fff;
            box-shadow: 0px 3px 5px -1px grey;
        }

        .fan-on {
            color: $color-green;
            background-color: $color-green-back;
        }

        .hot-on {
            color: $color-red;
            background-color: $color-red-back;
        }

        .cold-on {
            color: $color-blue;
            background-color: $color-blue-back;
        }
    }
}

.home-flex-bottom {
    background: #fff;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;

    div {
        display: flex;
        flex-direction: column;

        div{
            padding-right: 0;
        }
    }

    button{
         background-color: #fff;
         box-shadow: 0px 3px 5px -1px grey;
    }
   
}

.up-low-temp {
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.schedule-cold {
    color: rgb(0, 159, 233);
}

.schedule-fan {
    color: rgb(177, 209, 42);
}

.schedule-hot {
    color: rgb(255, 27, 73);
}


.buttons-schedule {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center;
}

.button-schedule {
    background: $color-green-back !important;
    color: $color-purple !important;
}