$color-red: #ff4225;
$color-green: #B1D12A;
$color-blue: #009FE9;
$color-opacity: 55;

.profile-wrapper {
    h1 {
        color: #4e4e4e;
        font-weight: 400;
        text-align: left;
        text-shadow: 3px 3px 5px rgba(0,0,0,0.2);
        margin-bottom: 5px;
    }
    .btn-edit-profile {
        background: #02bcd4;
        color: #eae9e9;
        padding: 5px 2em;
        margin-bottom: 2em;
        &:hover {
            color: black;
        }
    }
    .sidebar-profile > div {
        margin-top: 1.2em;
    }
    .sidebar-profile {

        .profile-button__container {
            display: flex;
            flex-direction: column;
            background-color: white;
            height: fit-content;
            margin: 1rem;

            button {
                display: flex;
                justify-content: space-between;
                padding: 1rem;
                color: rgb(112, 111, 111);

                span {
                    white-space: nowrap;
                    margin-right: 1rem;
                }

                &.active {
                    $self: &;

                    &--my-info {
                        color: $color-green;
                        background-color: #{$color-green}#{$color-opacity};
                    }
                    &--my-meters {
                        color: $color-red;     
                        background-color: #{$color-red}#{$color-opacity};        
                      }
                }

            }
        }
    }
}
.profile-title-form {
    color: #4e4e4e;
    font-weight: 400;
    text-align: left;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    margin-bottom: 5px;
}
.btn-update-profile {
    background: #02bcd4;
    color: #eae9e9;
    padding: 5px 2em;
    margin-bottom: 1em;
    &:hover {
        color: black;
    }
}


.modal-form-user {
    overflow: scroll;
    .form-profile > div > div > div > .MuiFormLabel-root.Mui-focused {
        color: #b1d12a;
    }
    .form-profile {
        .MuiInput-underline:after {
            border-bottom: 2px solid #b1d12a;
        }
        .btn-update-profile:hover {
            background: #545454;
            color: #b1d02b;
        }
        .btn-cancel-profile {
            margin-right: 1em;
        }
        .btn-cancel-profile:hover {
            background: #545454;
            color: #b1d02b;
        }
    }
}
.table-update-label-btn {
    .MuiButton-outlinedPrimary {
        color: #ff4c34;
        border: 1px solid rgb(255, 197, 191);
        &:hover {
            background: #ff4c34;
            border: 1px solid #ff4c34;
            color: #FFF;
        
        }
    }
}
.all-meters-user {
    border-radius: 10px;
    border: 1px solid #dadada;
    margin: 1em 0.5em;
    overflow: hidden;
    width: 100%;
    .meter-header{
        background: #e0e0e0;
        display: flex;
        text-transform: uppercase;
        .cell-info-meter {
            flex:1;
            padding: 1.4em;
            text-align: left;
            color: rgba(0, 0, 0, 0.54);
            font-size: 0.75rem;
            font-weight: 500;
            line-height: 1.3125rem;
        }
    }
    .meter-item {
        display: flex;
        border-top: 1px solid #e4e4e4;
        .cell-info-meter {
            flex:1;
            color: rgba(0, 0, 0, 0.87);
            padding: 0.8em;
            text-align: left;
            font-weight: 400;
            letter-spacing: 0.01071em;
        }
    }
}