$color-red: #BF0B23;
$color-green: #B1D12A;
$color-blue: #009FE9;
$color-opacity: 55;

.stats-button__container{
  display: flex;
  flex-direction: column;
  background-color: white;
  height: fit-content;
  margin: 1rem;

  button{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: rgb(112, 111, 111);

    span{
      white-space: nowrap;
      margin-right: 1rem;
    }

    &.active{
      $self: &;        
        &--temperature {
          color: $color-red;        
          background-color: #{$color-red}#{$color-opacity};        
        }
        &--humidity {
          color: $color-blue;     
          background-color: #{$color-blue}#{$color-opacity};        
        }
        &--energy {
          color: $color-green;        
          background-color: #{$color-green}#{$color-opacity};        
        }
   }

  }
}

