$color-red: #ff4225;
$color-blue: #009fe9;
$color-green: #b1d12a;
$color-opacity: 55;

.PrivateTabIndicator-root-30.PrivateTabIndicator-colorPrimary-31{
  top: 0;
  height: 0.5rem;
  background-color: #ff4225;
}

.MuiTab-textColorPrimary.Mui-selected.tab{
  $self: &;        
    &--home {
      color: $color-red;        
      background-color: #{$color-red}#{$color-opacity};        
    }

    &--stats {
      color: $color-blue;        
      background-color: #{$color-blue}#{$color-opacity};        
    }

    &--users {
      color: $color-green;        
      background-color: #{$color-green}#{$color-opacity};        
    }
    
    &--login{
      color: $color-blue;        
      background-color: #{$color-blue}#{$color-opacity};      
    }


    &--register{
      color: $color-green;        
      background-color: #{$color-green}#{$color-opacity};      
    }
}

.meter-selector{
  display: flex;
  align-items: flex-end;
  align-self: center;
  margin: 1rem 0 ;
  background-color: white; 
  padding: 1rem;  

  .MuiFormControl-root {
      width: 300px;
  }

  .MuiSelect-selectMenu {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: larger;
  }

  .MuiSvgIcon-root{
      font-size: -webkit-xxx-large;
  }

  .MuiSvgIcon-root.icon-power {
      position: absolute;
      left: 0;
      top: 15px;
      font-size: 40px;
      font-weight: bold;
      color: #8fc740;
  }
}